body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    background-color: lightblue;
    color: white;
    border: none;
    padding: 9px 10px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: aqua;
}